<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.esgi.android.mamoyenne"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="fr.esgi.android.mamoyenne.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.esgi.android.mamoyenne.ListeDesMatieres"/>
        <activity android:name="fr.esgi.android.mamoyenne.AjoutDuneMatiere"/>
        <activity android:name="fr.esgi.android.mamoyenne.NotesPourUneMatiere"/>
        <activity android:name="fr.esgi.android.mamoyenne.AjoutNote"/>
        <activity android:name="fr.esgi.android.mamoyenne.DetailsMatiere"/>
        <activity android:name="fr.esgi.android.mamoyenne.DetailsNote"/>
        <activity android:name="fr.esgi.android.mamoyenne.Help"/>
        <activity android:name="fr.esgi.android.mamoyenne.About"/>
        <activity android:name="fr.esgi.android.mamoyenne.Settings"/>
    </application>

</manifest>
